<html>
  <head>
    <style media="screen" type="text/css">

      header {
        font-family: helvetica, arial, sans-serif;
        background-color: blue;
        color: white;
      }

      body {
        font-family: helvetica, arial, sans-serif;
      }
    </style>
  </head>

  <body>
    <span style="float:right">
      <a href="/"><img src="http://i.imgur.com/aztiI42.jpg" width="50" height="50" alt="Home"></a>
      <a href="/"><img src="http://i.imgur.com/9hp55zN.jpg" width="50" height="50" alt="Back"></a>
    </span>

    <% products.each do |product| %>
      <article>
        <h3><a href="/products/<%= product.id %>"><%= product.name %></a></h3>

        <p>List Price: $<%= product.price %></p>
        <p>Current Price: $<%= product.display_price %>
        <% if product.on_clearance %>
          <%= "- 10% off!!!" if product.condition == 'good' %>
          <%= "- 20% off!!!" if product.condition == 'average' %>
        <% end %></p>
        <p>Condition: <%= product.condition %></p>
        <p>In Stock: <%= product.quantity %></p>

      </article>
    <% end %>
  </body>
</html>
