<span style="float:right">
  <a href="/"><img src="http://i.imgur.com/aztiI42.jpg" width="50" height="50" alt="Home"></a>
  </br>
  <a href="/"><img src="http://i.imgur.com/9hp55zN.jpg" width="50" height="50" alt="Back"></a>
</span>

<% products.each do |product| %>
  <article class='index_box'>
    <h3><a href="/products/<%= product.id %>"><%= product.name %></a></h3>

    <p>List Price: $<%= product.price %></p>
    <p>Current Price: $<%= product.display_price %>
    <%= "- #{product.discount_amount}% off!!!" if product.on_clearance && product.condition != 'mint' %>
    </p>
    <p>Condition: <%= product.condition %></p>
    <p>In Stock: <%= product.quantity %></p>

  </article>
<% end %>
