<div class='button'><a href="/"><img src="http://i.imgur.com/aztiI42.jpg" width="60" height="60" alt="Home"></a></div>
<div class='button2'><a href="/products"><img src="http://i.imgur.com/9hp55zN.jpg" width="60" height="60" alt="Back"></a></div>

  <article class='img_box'>
    <img src= "<%= product.picture %>" width="500" height="500" alt="image of <%= product.name %>">
  </article>

  <article class='show_box'>
    <h3 class='item_name'><%= product.name %></h3>
    <p class='price'>Price</p>
    <p>$<%= product.display_price %>
    <% if product.on_clearance %>
      <%= "- 10% off!!!" if product.condition == 'good' %>
      <%= "- 20% off!!!" if product.condition == 'average' %>
    <% end %></p>
    <p class='condition'>Condition</p>
    <p>This item is in <%= product.condition %> condition.
    Quantity in stock: <%= product.quantity %></p>

  </article>
