<div class='button'><%= link_to(image_tag("http://i.imgur.com/aztiI42.jpg", width: "60", height: "60", alt: "Home"), "/") %></div>
<div class='button2'><%= link_to(image_tag("http://i.imgur.com/9hp55zN.jpg", width: "60", height: "60", alt: "Back"), "/products") %></div>

<h2>All Categories</h2>
<% categories.each do |category| %>
  <article class='index-box'>
    <h3 class='item-pic'><%= image_tag Faker::Avatar.image, width: "200", height: "200", alt: "image of #{category.category_name}" %></h3>
    <h4 class='category-name'><%= link_to category.category_name, "/categories/#{category.id}" %></h4>
  </article>
<% end %>

<article class='index-box'>
  <h3 class='item-pic'><%= image_tag Faker::Avatar.image, width: "200", height: "200", alt: "image of all categories" %></h3>
  <h4 class='category-name'><%= link_to "All Products", "/products" %></h4>
</article>
