<div class='button'><%= link_to(image_tag("http://i.imgur.com/aztiI42.jpg", width: "75", height: "75", alt: "Home"), "/") %></div>
<div class='button2'><%= link_to(image_tag("http://i.imgur.com/9hp55zN.jpg", width: "75", height: "75", alt: "Back"), "/categories") %></div>

<div class='list-header'><%= category.category_name %> products</div>
<% category.products.each do |product| %>
  <article class='index-box'>
    <h3 class='item-pic'><%= image_tag product.picture, width: "200", height: "200", alt: "image of #{product.name}" %></h3>
    <h4 class='item-name'><%= link_to product.name, "/products/#{product.id}" %></h4>

    <p class='item-info'>
      List Price: $<%= product.price %>
    </p>

    <p class='item-info'>
      <%= "Current Price: $ #{product.display_price} - #{product.discount_amount}% off!!!" if product.on_clearance && product.condition != 'mint' %>
    </p>

    <p>
      <div class='item-button'>
        <%= link_to "More Info", "/products/#{product.id}", class: "more-info" %>
        <%= link_to product.category.category_name, "/categories/#{product.category_id}", class: 'category' %>
      </div>
    </p>
  </article>
<% end %>
