<div class='button'><%= link_to(image_tag("http://i.imgur.com/aztiI42.jpg", width: "75", height: "75", alt: "Home"), "/") %></div>
<div class='button2'><%= link_to(image_tag("http://i.imgur.com/9hp55zN.jpg", width: "75", height: "75", alt: "Back"), :back) %></div>

<h2 class='form-header'><%= form_title %></h2>

<div class="form">
  <% if product.errors.any? %>
    <% product.errors.full_messages.each do |msg| %>
      <p> <%= msg %></p>
    <% end %>
  <% end %>

  <%= form_tag(form_url, method: form_action) do %>
    <div class="input-group">
      <label for="name">Name:</label>
      <%= text_field_tag :name, product.name %>
    </div>

    <div class="input-group">
      <label for="price">Price:</label>
      <%= number_field_tag :price, product.price, min: 1 %>
    </div>

    <div class="input-group">
      <label for="condition">Condition:</label>
      <%= select_tag :condition, options_for_select(['mint', 'good', 'average'], product.condition) %>
    </div>

    <div class="input-group">
      <label for="on_clearance">On Clearance?</label>
      <%= check_box_tag :on_clearance, product.on_clearance, false %>
    </div>

    <div class="input-group">
      <label for="quantity">Quantity:</label>
      <%= number_field_tag :quantity, product.quantity, min: 0 %>
    </div>

    <div class="input-group">
      <label for="category_id">Category:</label>
      <%= select_tag :category_id, options_from_collection_for_select(Category.all, :id, :category_name, product.category_id) %>
    </div>

    <div class="actions">
      <%= submit_tag submit_text %>
    </div>
  <% end %>
</div>
