<div class='button'><a href="/"><img src="http://i.imgur.com/aztiI42.jpg" width="60" height="60" alt="Home"></a></div>
<div class='button2'><a href="/"><img src="http://i.imgur.com/9hp55zN.jpg" width="60" height="60" alt="Back"></a></div>

<% products.each do |product| %>
  <article class='index_box'>
    <h3 class='item_pic'><img src= "<%= product.picture %>" width="200" height="200" alt="image of <%= product.name %>"></h3>
    <h4 class='item_name'><a href="/products/<%= product.id %>"><%= product.name %></a></h4>

    <p class='item_info'>
      List Price: $<%= product.price %>
    </p>

    <p class='item_info'>
      Current Price: $<%= product.display_price %>
      <%= "- #{product.discount_amount}% off!!!" if product.on_clearance && product.condition != 'mint' %>
    </p>

    <p>
      <div class='item_button'>
        <a class='more_info' href="/products/<%= product.id %>">More Info</a>
        <a class='category' href="/products/<%= product.category.category_name %>"><%= product.category.category_name %></a>
      </div>
    </p>
  </article>
<% end %>
