<div class='button'><%= link_to(image_tag("http://i.imgur.com/aztiI42.jpg", width: "60", height: "60", alt: "Home"), "/") %></div>
<div class='button2'><%= link_to(image_tag("http://i.imgur.com/9hp55zN.jpg", width: "60", height: "60", alt: "Back"), "/products") %></div>

  <article class='img-box'>
    <%= image_tag "#{product.picture}", width: "500", height: "500", alt: "image of #{product.name}" %>
  </article>

  <article class='show-box'>
    <h3 class='show-name'><%= product.name %></h3>
    <p class='price'>Price</p>
    <p class='info'>Listed at: $<%= product.price %></p>
    <% if product.on_clearance %>
      <p class='info'>
        Current price: $<%= product.display_price %>
        <%= "- 10% off!!!" if product.condition == 'good' %>
        <%= "- 20% off!!!" if product.condition == 'average' %>
      </p>
    <% end %>
    <p class='condition'>Condition</p>
    <p class='info'>This item is in <%= product.condition %> condition.
    Quantity in stock: <%= product.quantity %></p>
    <%= link_to "Edit Product", "/products/#{product.id}/edit", class: "edit-button" %>
    <%= link_to "New Product", "/products/new", class: "new-button" %>
  </article>
